.filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 10px;
}

.filmImage img {
    border-radius: 14px; 
}

.filmData {
    list-style: none;
    border: 1px solid black;
    padding: 10px 8px;
    border-radius: 15px;
}

.filmTitle {
    font-size: 26px;
}

.filmRating {
    font-size: 26px;
    color: green;
}