.header {
    background-color: darkorchid;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    z-index: 1;

    .logo {
        display: flex;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        list-style: none;

        a {
            font-size: 50px;
            font-weight: 600;
        }
    }
}