.footer {
    display: flex;
    justify-content: space-between;
    background-color: #6d2491;
    height: 200px;
    padding: 40px;
}

.ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.p {
    margin: 0;
}